*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-weight: normal;
}

body {
	min-height: 100vh;
	color: #2c3e50;
	line-height: 1.6;
	font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 15px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.A4-page {
	position: relative;
	width: 297mm;
	height: 210mm;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	break-before: page;
	/* Keep background color when printing */
	print-color-adjust: exact !important;
	-webkit-print-color-adjust: exact !important;
	// For development, to display page borders
	// border: 1px solid grey;

	padding: 0.7cm;

	&:nth-child(even) {
		padding-top: 2cm;
	}

	&:nth-child(odd) {
		padding-bottom: 2cm;
	}

	// Hole circle at the bottom of the page.
	&::before {
		content: " ";
		position: absolute;
		bottom: 30px;
		left: 50%;
		margin-left: -10px;
		width: 20px;
		height: 20px;
		background-color: rgba(128, 128, 128, 0.411);
		border-radius: 100%;
	}

	&:nth-child(even)::before {
		top: 30px;
		bottom: auto;
	}

	// Set border color for all table and elements inside the page.
	* {
		border-color: rgba($color: #919191, $alpha: 0.6) !important;
	}
}

figure {
	text-align: center;

	img {
		max-height: 100%;
		object-fit: contain;
	}

	figcaption {
		font-size: 12px;
		text-align: center;
		font-style: italic;
	}
}